<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.qsapp.QSChatSupport</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleDisplayName</key>
	<string>Chat Support</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>QSActions</key>
	<dict>
		<key>QSIMAccountAudioInviteAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSChatActions</string>
			<key>actionSelector</key>
			<string>inviteAccountToAudioChat:</string>
			<key>directTypes</key>
			<array>
				<string>qs.im.account</string>
			</array>
			<key>icon</key>
			<string>ChatBubble</string>
			<key>name</key>
			<string>Audio Chat</string>
			<key>precedence</key>
			<real>0.5</real>
		</dict>
		<key>QSIMAccountSendItemAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSChatActions</string>
			<key>actionSelector</key>
			<string>messageAccounts:withItem:</string>
			<key>directTypes</key>
			<array>
				<string>qs.im.account</string>
			</array>
			<key>icon</key>
			<string>ChatBubble</string>
			<key>indirectTypes</key>
			<array>
				<string>NSStringPboardType</string>
				<string>NSFilenamesPboardType</string>
			</array>
			<key>name</key>
			<string>IM Item...</string>
		</dict>
		<key>QSIMAccountSendItemReverseAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSChatActions</string>
			<key>actionSelector</key>
			<string>messageAccounts:withItem:</string>
			<key>directTypes</key>
			<array>
				<string>NSStringPboardType</string>
				<string>NSFilenamesPboardType</string>
			</array>
			<key>icon</key>
			<string>ChatBubble</string>
			<key>indirectTypes</key>
			<array>
				<string>qs.im.account</string>
			</array>
			<key>name</key>
			<string>IM to Account...</string>
			<key>reverseArguments</key>
			<true/>
		</dict>
		<key>QSIMAccountSendMessageAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSChatActions</string>
			<key>actionSelector</key>
			<string>messageAccount:</string>
			<key>directTypes</key>
			<array>
				<string>qs.im.account</string>
			</array>
			<key>icon</key>
			<string>ChatBubble</string>
			<key>name</key>
			<string>IM</string>
			<key>precedence</key>
			<integer>1</integer>
		</dict>
		<key>QSIMAccountVideoInviteAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSChatActions</string>
			<key>actionSelector</key>
			<string>inviteAccountToVideoChat:</string>
			<key>directTypes</key>
			<array>
				<string>qs.im.account</string>
			</array>
			<key>icon</key>
			<string>ChatBubble</string>
			<key>name</key>
			<string>Video Chat</string>
			<key>rankModification</key>
			<real>0.5</real>
		</dict>
	</dict>
	<key>QSPlugIn</key>
	<dict>
		<key>author</key>
		<string>Rob McBroom</string>
		<key>categories</key>
		<array>
			<string>Applications</string>
		</array>
		<key>description</key>
		<string>One-line summary for this plug-in</string>
		<key>extendedDescription</key>
		<string>HTML formatted documentation for this plug-in.</string>
		<key>icon</key>
		<string>ChatBubble</string>
	</dict>
	<key>QSPresetAdditionsTemplate</key>
	<array>
		<dict>
			<key>ID</key>
			<string>QSPresetChat_SupportGroup</string>
			<key>children</key>
			<array>
				<dict>
					<key>ID</key>
					<string>QSPresetChat_SupportExample</string>
					<key>name</key>
					<string>Items from Chat Support</string>
					<key>source</key>
					<string>QSChat_SupportSource</string>
				</dict>
			</array>
			<key>icon</key>
			<string>KEXT</string>
			<key>name</key>
			<string>Chat Support Presets</string>
			<key>source</key>
			<string>QSGroupObjectSource</string>
		</dict>
	</array>
	<key>QSRegistration</key>
	<dict>
		<key>QSRegistryHeaders</key>
		<dict>
			<key>QSChatMediators</key>
			<dict>
				<key>classTable</key>
				<true/>
				<key>name</key>
				<string>Instant Messaging</string>
				<key>type</key>
				<string>mediator</string>
			</dict>
		</dict>
		<key>QSObjectHandlers</key>
		<dict>
			<key>QSChat_SupportType</key>
			<string>QSChat_SupportSource</string>
		</dict>
		<key>QSProxiesTemplate</key>
		<dict>
			<key>Chat_SupportSomeProxy</key>
			<dict>
				<key>icon</key>
				<string>GenericDocumentIcon</string>
				<key>name</key>
				<string>Chat_Support Proxy</string>
				<key>providerClass</key>
				<string>QSChat_SupportSource</string>
				<key>types</key>
				<array>
					<string>QSChat_SupportType</string>
				</array>
			</dict>
		</dict>
		<key>QSTypeDefinitions</key>
		<dict>
			<key>QSChat_SupportType</key>
			<dict>
				<key>icon</key>
				<string>GenericDocumentIcon</string>
				<key>name</key>
				<string>Chat_Support Object</string>
			</dict>
		</dict>
	</dict>
	<key>QSRequirements</key>
	<dict>
		<key>obsoletes</key>
		<array>
			<string>com.blacktree.Quicksilver.QSChatSupport</string>
		</array>
		<key>version</key>
		<string>3926</string>
	</dict>
	<key>QSResourceAdditions</key>
	<dict>
		<key>ChatBubble</key>
		<dict>
			<key>bundle</key>
			<string>com.qsapp.QSChatSupport</string>
			<key>resource</key>
			<string>ChatBubble.png</string>
		</dict>
	</dict>
</dict>
</plist>
